<!-- formulário -->
<form [formGroup]="formulario">
    <input type="text" name="" id="" class="form-control" placeholder="Produto" formControlName="nome">
    <input type="number" name="" id="" class="form-control" placeholder="Valor" formControlName="valor">
    <input type="button" value="Cadastrar" name="" id="" class="btn btn-primary" (click)="cadastrar()">
</form>

<!-- tabela -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Valor</th>
            <th>Remover</th>
        </tr>
    </thead>
    <tr *ngFor="let v of vetor; index as i">
        <td>{{i + 1}}</td>
        <td>{{v.nome}}</td>
        <td>{{v.valor}}</td>
        <td><button class="btn btn-danger" (click)="remover(i)">Remover</button></td>
    </tr>
</table>