button {
    border-top: 10px;
    border-bottom: 10px;
    border-left: 10px;
    border-right: 10px;
}

img {
    padding: 10px;
}

.anuncio {
    padding: 10px;
    text-align: center;
    border-width: 0px;
}

.carrinho {
    text-align: center;
    padding: 20px;
}

.verde {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.vermelho {
    border-radius: 0px;
}

.remover {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}