form, div {
    width: 500px;
    margin: 30px auto;
    text-align: center;
}

form input, div input {
    margin-top: 15px;
}

.btn-warning, .btn-danger {
    display: none;
}

h1, a {
    text-align: center;
    padding: 20px;
}